@charset "UTF-8";
/* CSS Document */

.main{
	display: block;
	flex-direction: column;
    z-index:0;
    margin-top: 90px;
}
.header{
	display: flex;
	position: fixed;
	overflow: hidden;
	top: 0px;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	width: 100%;
	align-items: center;
	justify-content: space-between;
    z-index: 20;
    height: 90px;
    background-color: white;
}
.logo{
	color: MediumAquamarine;
	display: inline-flex;
	margin-left: 10px;
}
.logo p{
	margin-left: 10px;
	font-size: 14px;
	display: inline-block;
	padding-top: 10px;
}
/*list items form menu*/
.header li{
	display: inline-block;
	margin-right: auto;
}
.header li a{
	display: inline-block;
	color: black;
	padding: 10px 15px;
}
.content{
    display: block;
    position: relative;
    z-index: 0;
    justify-content: space-between;
}
.column{
    border: 1px solid pink;
    display: flex;
    margin-top: 0px;
    z-index: 0;
}
.large {
	width: 630px;
	display: flex;
	flex-direction: column;
  padding: 10px;
}
.medium{
  width: 300px;
	display:flex;
	flex-direction: column;
  padding: 10px;
}
.small{
  width: 240px;
	display: flex;
	flex-direction: column;
  padding: 10px;
}
#main-story{
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}
#img-fall{
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}
#img-camera{
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}
#img-cat{
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}
.img-content{
		display: flex;
    justify-content: center;
		font-size: 30px;
		color: white;
		font-family: Georgia;
		height: 300px;
}
.main-image{
    font-family: Georgia;
    font-size: 17px;
		display: flex;
		justify-content: center;
}
.text-img #main-title{
		display: flex;
		justify-content: center;
		font-size: 40px;
		color: white;
		font-family: Georgia;
		height: 100%;
    font-weight: bold;
}
.column-intern{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	width: 630px;
}
.medium-col{
	display:inline-flex;
	flex-direction: column;
	width: 310px;
	padding: 20px;
}
